#thcolor{
    /* background: rgb(165, 160, 160); */
    /* background-image: linear-gradient(15deg, #357ca5 0%, #60cec1 100%); */
    background-image: linear-gradient(15deg, #379dd8 0%, #4febd8 100%);
    text-align: center !important;
}

#table_history_lots td {
    text-align: center;
    vertical-align: middle;
}

#table_history_lots th {
    text-align: center;
    vertical-align: middle;
    width: 25%;
}

#table_info_lots_db td {
    text-align: left;
    vertical-align: middle;
}

#table_info_lots_db th {
    text-align: center;
    vertical-align: middle;
}

#tbl_history_lots td {
    text-align: center;
    vertical-align: middle;
}

/* Estilo personalizado para el modal */
.modal-custom .modal-dialog {
    max-width: 85%; /* Ajusta el ancho máximo del modal */
    max-height: 85%; /* Ajusta la altura máxima del modal */
    margin: 1.75rem auto; /* Centra el modal verticalmente y le da un pequeño margen superior */
}

.modal-custom95 .modal-dialog {
    max-width: 98%; /* Ajusta el ancho máximo del modal */
    max-height: 98%; /* Ajusta la altura máxima del modal */
    margin: 1.75rem auto; /* Centra el modal verticalmente y le da un pequeño margen superior */
}

/* Estilo personalizado para el modal */
.modal-custom2 .modal-dialog {
    max-width: 90%; /* Ajusta el ancho máximo del modal */
    max-height: 90%; /* Ajusta la altura máxima del modal */
    margin: 1.75rem auto; /* Centra el modal verticalmente y le da un pequeño margen superior */
}

/* Estilo personalizado para el modal */
.modal-custom3 .modal-dialog {
    max-width: 65%; /* Ajusta el ancho máximo del modal */
    max-height: 65%; /* Ajusta la altura máxima del modal */
    margin: 1.75rem auto; /* Centra el modal verticalmente y le da un pequeño margen superior */
}

#modal_seach_all_year .modal-dialog {
    max-width: 90%; /* Ajusta el ancho máximo del modal según sea necesario */
    margin: 1.75rem auto; /* Centra el modal verticalmente y le da un pequeño margen superior */
}

#modal_seach_all_year .modal-content {
    overflow-x: auto; /* Permite el desplazamiento horizontal dentro del modal si es necesario */
    max-height: calc(100vh - 100px); /* Limita la altura máxima del modal para evitar que ocupe toda la pantalla */
}

body.modal-open {
    overflow: auto; /* Permite el desplazamiento vertical en el cuerpo de la página cuando se abre el modal */
}

.p_add_command {
    font-weight: bold !important;
    font-style: italic !important;
    background-color: yellow !important;
    text-align: center !important;
}