<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   {% include 'Header/header.html' %}
<script>
        function nobackbutton(){
            window.location.hash="no-back-button";
            window.location.hash="Again-No-back-button" //chrome
            window.onhashchange=function(){window.location.hash="no-back-button";}	
        }
</script>
</head>

<body>
    {% include 'NavBar/navBar.html' %}
    {% include 'ErrorFlash/errorFlash.html' %}
    <div class="jumbotron bg-grey text-black jomboton-imgae shadow" style="width: 90%; margin: 0 auto;">
        <h1 class='mb-4' style="color: rgb(70, 70, 70); text-align: center;">Registre de ractius<hr></h1>
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-6" style="padding-top: 10px;">
                            <div class="card" style="width: 22rem;height:100%">
                                <div class="card-body">
                                <h5 class="card-title"><b>1 - Insertar lots </b></h5>
                                <p class="card-text">Aquí podreu afegir lots</p>
                                {% if session['rol'] == 'admin' or session['rol'] == 'advanced' %}
                                    <a href="/insert_home" class="btn btn-outline-primary btn-sm">Accedir</a>
                                {% else %}
                                    <a href="" class="btn btn-outline-primary btn-sm ">Accedir</a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-6" style="padding-top: 10px;">
                            <div class="card" style="width: 22rem;height:100%">
                                <div class="card-body">
                                    <h5 class="card-title"><b>2 - Cerca lots</b></h5>
                                    <p class="card-text">Buscador de lots.</p>
                                    <!-- <button class="btn btn-outline-primary btn-sm" onclick="accio('Primers')">Accedir</button> -->
                                    {% if session['rol'] == 'admin' or session['rol'] == 'advanced' %}
                                    <a href="/insert_home" class="btn btn-outline-primary btn-sm">Accedir</a>
                                    {% else %}
                                        <a href="" class="btn btn-outline-primary btn-sm ">Accedir</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.js"></script></body>
</body>                    
</html>