<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'Header/header.html' %}
    <script>
        /**
         * Canvia totes les barras ("/") en el valor d'entrada per guions ("-").
         * @param {object} input L'element d'entrada que conte el valor a modificarr.
         * @returns {void} No retorna cap valor.
         */
        function replae_slash_with_hyphen(input) {
            input.value = input.value.replace(/\//g, '-');
        }


        /**
         * Si l'usuari ppsa algun caràcter no permes l'elimina.
         * @param {object} input L'element d'entrada que conte el valor a modificarr.
         * @returns {void} No retorna cap valor.
         */
        function filter_characters(input) {
            // Filtrar caracteres permitidos usando una expresión regular
            input.value = input.value.replace(/[^-0-9]/g, '');
        }


        /**
         * Obrim el modal que ens donen per paràmetre, i al posem a 2 variables que estan en hidden el seu valor.
         * @param {string} modal_id És l'identificador únic del modal
         * @returns {void} No retorna cap valor.
         */
        function open_modal_accions(modal_id, action){
            var current_date = new Date();
            var day = current_date.getDate();
            var month = current_date.getMonth() + 1;
            var year = current_date.getFullYear();
            day = day < 10 ? '0' + day : day;
            month = month < 10 ? '0' + month : month;
            var formated_date = day + '-' + month + '-' + year;
            document.getElementById("observations_open_close").value = '';

            $(`#modal_accions`).modal('show');
            if (action == 'close'){
                document.getElementById("btn_open").style.display = 'none';
                document.getElementById("btn_close").style.display = 'block';
            } else {
                document.getElementById("btn_close").style.display = 'none';
                document.getElementById("btn_open").style.display = 'block';}

            document.getElementById("id_lot_accions").value = modal_id;
            document.getElementById("date_open_close").value = formated_date;
        }

        
        /**
         * Mostrar el modal per obrir o tancar un lot.
         * 
         * Aquesta funció envia una sol·licitud AJAX al servidor per obrir o tancar un lot
         * específic, i després mostra una alerta amb el resultat de l'operació. També actualitza
         * la taula de lots si s'ha tancat un lot i aquest s'ha esgotat completament. Arribant a eliminar
         * totes les lines que estiguin associades ja que si un lot es tanca la resta de lots associat,
         * també s'han de tancar.
         * 
         * @param {string} id_lot L'identificador únic del lot a obrir o tancar.
         * @param {string} action L'acció a realitzar: "open" per obrir o "close" per tancar el lot.
         * @returns {void} No retorna cap valor.
         * 
         * @descriptor Aquesta funció executa una operació asíncrona per enviar una sol·licitud
         * al servidor per obrir o tancar un lot, mostrant alertes d'èxit o error en funció de la
         * resposta rebuda. També actualitza la taula de lots si s'ha tancat un lot i aquest s'ha
         * esgotat completament. Si s'esgota completament eliminarem la linia i totes les linies que
         * estigun associades a ella.
         */
        function show_modal_open_close_lot(action){
            const id_lot = document.getElementById("id_lot_accions").value;
            const observations = document.getElementById("observations_open_close").value;
            const date_open_close = document.getElementById("date_open_close").value;

            // Crear form data
            var form_data = new FormData();

            form_data.append('id_lot', id_lot)
            form_data.append('action', action)
            form_data.append('observations', observations)
            form_data.append('date_open_close', date_open_close)

            // Creeem l'objecte per l'ajax
            var xhr = new XMLHttpRequest();
            // 1er argument si es pots o get
            // 2n argument url o ruta
            // 3r argumemt true sempre
            xhr.open('POST', '/open_close_lots', true);
            xhr.onload = function(){
                close_modal('modal_accions')
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    split_response = response.split('_')
                    message = split_response[1]
                    if (response.includes('False')){
                        alert_type = 'danger'}
                    else if (response.includes('True')){
                        alert_type = 'success'
                        if (action === 'close'){
                            document.getElementById(`button_${id_lot}`).remove();
                            var trElement = document.getElementById(id_lot);
                            // var tdValue = trElement.cells[4].textContent;
                            // var newValue = parseInt(tdValue, 10) - 1;
                            // trElement.cells[4].textContent = newValue.toString();
                            if (split_response[1].includes("Aquesta referència s'ha esgotat,")){
                                lis_ids_lots = split_response[2].split(';')
                                lis_ids_lots.forEach(function(id){
                                    var table = $('#example').DataTable();
                                    var tr_table = document.getElementById(id);
                                    if (tr_table) {
                                        // Elimina el elemento tr del DOM si existe
                                        // tr_table.parentNode.removeChild(tr_table);
                                        table.row(tr_table).remove().draw(false); 
                                    }
                                });
                            }
                        } if (action === 'open'){                   
                            var button = document.getElementById("button_" + id_lot);

                            // Cambia la clase del botón a "btn-outline-danger"
                            button.classList.remove("btn-outline-success");
                            button.classList.add("btn-outline-danger");

                            // Cambia el texto del botón a "Tancar"
                            button.innerText = '';
                            button.insertAdjacentHTML('beforeend', '<i class="fa-solid fa-lock"></i> Tancar');

                            var onclick_value = button.getAttribute("onclick");
                            onclick_value = onclick_value.replace("'open'", "'close'");
                            button.setAttribute("onclick", onclick_value);
                        }
                    } else {
                        message = `Error inesperat. Si persisteix l'error contacta amb un administrador`
                        alert_type = 'danger'
                    }
                }
                else {
                    message = `Error, No s'ha pogut realitzar l'operació. Si persisteix l'error contacta amb un administrador`
                    alert_type = 'danger' }

                var flashContainer = document.querySelector(".d-flex.justify-content-center .row");
                // Eliminar la alerta anterior, si existe
                if (flashContainer.children.length > 0) {
                    flashContainer.removeChild(flashContainer.children[0]); }
                var newFlash = document.createElement("div");
                newFlash.className = "alert alert-" + alert_type + " alert-dismissible fade show ml-3";
                newFlash.role = "alert";
                newFlash.innerHTML = "<span>" + message + "</span>" + 
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>';
                flashContainer.appendChild(newFlash);
                flashContainer.style.paddingTop = "20px";
            }

            xhr.send(form_data)
        }


        /**
         * Mostrar l'historial del lot en un modal.
         * 
         * Aquesta funció envia una sol·licitud AJAX al servidor per obtenir l'historial
         * d'un lot específic i mostra aquest historial en un modal. Si s'obté l'historial
         * amb èxit, s'omple una taula amb les dades de l'historial i s'obre el modal per
         * mostrar aquesta informació.
         * 
         * @param {string} id_lot L'identificador únic del lot del qual es vol consultar l'historial.
         * @returns {void} No retorna cap valor.
         * 
         * @descriptor Aquesta funció executa una operació asíncrona per enviar una sol·licitud
         * al servidor per obtenir l'historial d'un lot específic. Si s'obté l'historial amb èxit,
         * omple una taula amb les dades corresponents i mostra aquesta informació en un modal. En
         * cas contrari, mostra una alerta amb el missatge d'error rebut del servidor.
         */
        function show_history_lot(id_lot){
            // Crear form data
            var form_data = new FormData();

            form_data.append('id_lot', id_lot)

            // Creeem l'objecte per l'ajax
            var xhr = new XMLHttpRequest();
            // 1er argument si es pots o get
            // 2n argument url o ruta
            // 3r argumemt true sempre
            xhr.open('POST', '/history_lot', true);
            xhr.onload = function(){
                show_message = true
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    split_response = response.split('_//_')
                    message = split_response[1]
                    if (response.includes('False')){
                        alert_type = 'danger'}
                    else if (response.includes('True')){
                        show_message = false
                        $('#history_lot').modal('show');

                        var list_history_lots = JSON.parse(split_response[1]);

                        var table = $('#table_history_lots').DataTable();
                        table.clear().draw();

                        for (var i = 0; i < list_history_lots.length; i++) {
                            var newRowData = [];
                            // Crea un nuevo elemento td para cada valor en la lista
                            for (var key in list_history_lots[i]) {
                                if (list_history_lots[i].hasOwnProperty(key)) {
                                    if (key !== 'id' && key !== 'id_lot') {
                                        newRowData.push(list_history_lots[i][key])
                                    }
                                }
                            }
                            var newRow = table.row.add(newRowData).draw(false).node();
                        }
                    } else {
                        message = `Error inesperat. Si persisteix l'error contacta amb un administrador`
                        alert_type = 'danger'
                    }
                }
                else {
                    message = `Error, No s'ha pogut realitzar l'operació. Si persisteix l'error contacta amb un administrador`
                    alert_type = 'danger' }
                
                if (show_message){
                    var flashContainer = document.querySelector(".d-flex.justify-content-center .row");
                    // Eliminar la alerta anterior, si existe
                    if (flashContainer.children.length > 0) {
                        flashContainer.removeChild(flashContainer.children[0]); }
                    var newFlash = document.createElement("div");
                    newFlash.className = "alert alert-" + alert_type + " alert-dismissible fade show ml-3";
                    newFlash.role = "alert";
                    newFlash.innerHTML = "<span>" + message + "</span>" + 
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                        '<span aria-hidden="true">&times;</span>' +
                                        '</button>';
                    flashContainer.appendChild(newFlash);
                    flashContainer.style.paddingTop = "20px";
                }
            }

            xhr.send(form_data)
        }
    
        
        /**
         * Mostra el modal per modificar les dades d'un lot reactiu.
         * 
         * Aquesta funció obre un modal per modificar les dades d'un lot reactiu. Actualitza els camps del modal amb
         * les dades actuals del lot i les dades passades com a paràmetres. La funció també omple els camps de registre
         * amb la informació proporcionada per a posterior actualització.
         * 
         * @param {string} id_lot - L'identificador del lot que es vol modificar.
         * @param {string} lot - El número del lot que es vol modificar.
         * @param {string} date_expiry - La data de caducitat del lot que es vol modificar.
         * 
         * @returns {void} No retorna cap valor. Modifica el contingut del modal i obre el modal de modificació.
         * 
         * @descriptor La funció recull les dades actuals del lot mitjançant el seu ID i les omple als camps del modal
         * per a la seva modificació. També actualitza els camps de registre amb la informació proporcionada. Finalment,
         * obre el modal per permetre a l'usuari fer les modificacions.
         */
        function show_modify_reactive(id_lot, lot, date_expiry){
            const date_expiry_modify = document.getElementById(`${id_lot}_date_expiry`).innerText
            const lot_reactive_modify = document.getElementById(`${id_lot}_lot`).innerText
            open_modal('modal_modify_reactive')
            document.getElementById('date_expiry_modify').value = date_expiry_modify;
            document.getElementById('lot_reactive_modify').value = lot_reactive_modify;

            document.getElementById('id_lot_modify').value = id_lot;

            document.getElementById('log_date_expiry').value = date_expiry;
            document.getElementById('log_lot_reactive').value = lot;
        }


        /**
         * Modifica les dades d'un lot reactiu.
         * 
         * Aquesta funció gestiona la modificació de la data de caducitat i el número de lot d'un ítem reactiu. 
         * Valida que els camps no estiguin buits i que hi hagi canvis abans d'enviar les dades al servidor mitjançant 
         * una sol·licitud AJAX. Després, actualitza la interfície d'usuari segons la resposta del servidor i mostra 
         * un missatge d'alerta corresponent.
         * 
         * @returns {void} No retorna cap valor. Actualitza la interfície d'usuari i mostra un missatge d'alerta 
         * segons la resposta del servidor.
         * 
         * @description
         * - Obtén els valors de la data de caducitat, número de lot, i ID del lot des del formulari.
         * - Realitza validacions per assegurar-se que els camps no estiguin buits i que es realitzin canvis.
         * - Si els camps estan buits o no hi ha canvis, mostra una alerta i atura l'execució.
         * - Crea un objecte `FormData` amb els valors dels camps i envia una sol·licitud `POST` al servidor al 
         * endpoint `/modify_reactive`.
         * - En funció de la resposta del servidor:
         *   - Si la resposta conté `'False'`, mostra un missatge d'error.
         *   - Si la resposta conté `'True'`, actualitza la interfície d'usuari amb les noves dades i mostra un 
         *     missatge d'èxit.
         *   - Si hi ha errors inesperats, mostra un missatge d'error general.
         * - Tanca el modal de modificació i actualitza la interfície amb les dades modificades.
         * 
         * @example
         * // Suponiendo que el modal tiene los campos correspondientes y se ha hecho clic en el botón de guardar
         * edit_reactive();
         */
        function edit_reactive(){
            const date_expiry_modify = document.getElementById('date_expiry_modify').value
            const log_date_expiry = document.getElementById('log_date_expiry').value
            const lot_reactive_modify = document.getElementById('lot_reactive_modify').value
            const log_lot_reactive = document.getElementById('log_lot_reactive').value
            const id_lot_modify = document.getElementById('id_lot_modify').value

            if (date_expiry_modify === '' || lot_reactive_modify === ''){
                alert("No es pot deixar el camp buit.");
                return
            }

            if (log_date_expiry === date_expiry_modify && lot_reactive_modify === log_lot_reactive) {
                alert("No s'ha realizat cap modificació, has de modificar algun camp per realitzar l'operació.");
                return
            } 

            // Crear form data
            var form_data = new FormData();

            form_data.append('date_expiry_modify', date_expiry_modify)
            form_data.append('lot_reactive_modify', lot_reactive_modify)
            form_data.append('id_lot_modify', id_lot_modify)

            // Creeem l'objecte per l'ajax
            var xhr = new XMLHttpRequest();
            // 1er argument si es pots o get
            // 2n argument url o ruta
            // 3r argumemt true sempre
            xhr.open('POST', '/modify_reactive', true);
            xhr.onload = function(){
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    split_response = response.split('_//_')
                    message = split_response[1]
                    if (response.includes('False')){
                        alert_type = 'danger'}
                    else if (response.includes('True')){
                        alert_type = 'success'
                        $('#modal_modify_reactive').modal('hide');
                        if (log_date_expiry !== date_expiry_modify) {
                            document.getElementById(`${id_lot_modify}_date_expiry`).innerHTML = date_expiry_modify; }
                        if (lot_reactive_modify !== log_lot_reactive) {
                            document.getElementById(`${id_lot_modify}_lot`).innerHTML = lot_reactive_modify; }
                    } else {
                        message = `Error inesperat. Si persisteix l'error contacta amb un administrador`
                        alert_type = 'danger'
                    }
                }
                else {
                    message = `Error, No s'ha pogut realitzar l'operació. Si persisteix l'error contacta amb un administrador`
                    alert_type = 'danger' }
                
                var flashContainer = document.querySelector(".d-flex.justify-content-center .row");
                // Eliminar la alerta anterior, si existe
                if (flashContainer.children.length > 0) {
                    flashContainer.removeChild(flashContainer.children[0]); }
                var newFlash = document.createElement("div");
                newFlash.className = "alert alert-" + alert_type + " alert-dismissible fade show ml-3";
                newFlash.role = "alert";
                newFlash.innerHTML = "<span>" + message + "</span>" + 
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>';
                flashContainer.appendChild(newFlash);
                flashContainer.style.paddingTop = "20px";
            }

            xhr.send(form_data)
        }
   
    </script>

    <style>
        #example thead input[type="text"] {
            max-width: 100%; /* Ajusta este valor según tus necesidades */
        }
    </style>
</head>
<body>
    {% include 'NavBar/navBar.html' %}
    <br>
    <div class="jumbotron bg-grey text-black jomboton-imgae shadow d-flex justify-content-between align-items-center" style="width: 90%; height: 80px; margin: 0 auto; padding-top: 0px; padding-bottom: 0px;">
        <h1 class="mb-0">
            <span style="color: darkblue;">( 4 ) </span> - 
            <span>Obrir / tancar lots</span>
        </h1>
    </div>
    <div class="d-flex justify-content-center pt-3 mt-3 rounded">
        <div class="container-fluid rounded table-responsive" style="width: 90%; text-align: center; margin-top: -30px">
            {% include 'ErrorFlash/errorFlash.html' %} 
            <div id="table1" name="table1">
                <table id="example" class="display">
                    <thead>
                        <tr id="thcolor">
                            <th style="min-width: 70px;  max-width: 120px;">Ref. Proveïdor</th>
                            {% if select_lot[0][0].id_reactive != '' %}
                                <th style="min-width: 70px;  max-width: 120px;">Subreferència</th>
                            {% endif %}
                            <th style="max-width: 300px;">Descripció</th>
                            {% if 'Oligos' in select_lot[0][0].description or 'Coriels' in select_lot[0][0].description %}
                                <th style="min-width: 80px;  max-width: 120px;">Num. Comanda</th>
                            {% else %}
                                <th style="min-width: 70px;  max-width: 120px;">Lot</th>
                            {% endif %}
                            <th style="min-width: 70px;  max-width: 120px;">Lot intern</th>
                            <!-- <th style="min-width: 70px;  max-width: 120px;">Unitats</th> -->
                            <!-- <th style="min-width: 70px;  max-width: 120px;">Data arribada</th> -->
                            {% if 'Oligos' in select_lot[0][0].description or 'Coriels' in select_lot[0][0].description %}
                                <th style="min-width: 80px;  max-width: 120px;">Observacions</th>
                            {% else %}
                                <th style="min-width: 70px;  max-width: 120px;">Caducitat</th>
                            {% endif %}
                            <th style="min-width: 70px;  max-width: 120px;">CECO</th>
                            <th style="min-width: 130px;  max-width: 210px;">Accions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lot, consumption_lot in select_lot %}
                            <tr id="{{lot.id}}">
                                <td>{{lot.catalog_reference}}</td>
                                {% if lot.id_reactive != '' %}
                                    <td>{{lot.id_reactive}}</td>
                                {% endif %}
                                {% if lot.description_subreference == '' %}
                                    <td>{{lot.description}}</td>
                                {% else %}
                                    <td>{{lot.description_subreference}}</td>
                                {% endif %}
                                {% if 'Oligos' in lot.description or 'Coriel' in lot.description %}
                                    <td>{{lot.comand_number}}</td> 
                                {% else %}
                                    <td id="{{lot.id}}_lot">{{lot.lot}}</td>
                                {% endif %}
                                <td>{{lot.internal_lot}}</td>
                                <!-- <td>{{lot.units_lot}}</td> -->
                                <!-- <td>{{lot.reception_date}}</td> -->
                                {% if 'Oligos' in lot.description or 'Coriel' in lot.description %}
                                    <td>{{lot.observations_inspection}}</td>
                                {% else %}
                                    <td id="{{lot.id}}_date_expiry">{{lot.date_expiry}}</td>
                                {% endif %}
                                <td>{{lot.cost_center_stock}}</td>
                                <td>
                                    <div style=" display: inline;">
                                        <!-- <button type="button" class="btn btn-outline-success btn-sm" onclick="show_modal_open_close_lot(`{{lot.id}}`, 'open')"><i class="fa-solid fa-share-from-square"></i> Obrir</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="show_modal_open_close_lot(`{{lot.id}}`, 'close')"><i class="fa-solid fa-lock"></i> Tancar</button> -->
                                        {% if lot.units_lot != 0 %}
                                            <!-- <button type="button" class="btn btn-outline-success btn-sm" id="button_{{lot.id}}" onclick="open_modal_accions(`{{lot.id}}`)"><i class="fa-solid fa-lock"></i> Accions</button> -->
                                            {% if consumption_lot.date_open|length > 3 %}
                                                <button type="button" class="btn btn-outline-danger btn-sm" id="button_{{lot.id}}" onclick="open_modal_accions(`{{lot.id}}`, 'close')"><i class="fa-solid fa-lock"></i> Tancar</button>
                                            {% else %}
                                                <button type="button" class="btn btn-outline-success btn-sm" id="button_{{lot.id}}" onclick="open_modal_accions(`{{lot.id}}`, 'open')"><i class="fa-solid fa-share-from-square"></i> Obrir&nbsp;&nbsp;</button>
                                            {% endif %}
                                        {% endif %}
                                        <button type="button" class="btn btn-outline-primary btn-sm" onclick="show_history_lot(`{{lot.id}}`)"><i class="fa-solid fa-book"></i> Registres</button>
                                        <button type="button" class="btn btn-outline-success btn-sm" onclick="show_modify_reactive(`{{lot.id}}`)"><i class="fa-solid fa-pen-to-square"></i> Editar</button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </div>
    </div>


    <div class="modal fade"  id="modal_accions" tabindex="-1" role="dialog" aria-labelledby="editRegister" aria-hidden="true">
        <div class="modal-dialog" tabindex="-1" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title"> Obrir / Tancar lots</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_modal('modal_accions')"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">                                   
                    <div class="col-lg-12 col-md-12 col-sm-12">       
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width: 135px;"><b>Data :</b></span>
                            <input type="text" class="form-control" id='date_open_close' name='date_open_close' aria-label="TTN" aria-describedby="basic-addon1" oninput="replae_slash_with_hyphen(this); filter_characters(this)">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">       
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width: 135px;"><b>Observacions :</b></span>
                            <input type="text" class="form-control" id='observations_open_close' name='observations_open_close' aria-label="TTN" aria-describedby="basic-addon1">
                        </div>
                    </div>    
                    <!-- <center><input type="submit" value="Cercar lot" class="btn btn-success btn-sm"/></center> -->
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">       
                        <input type="hidden" id="id_lot_accions" value=""/>
                        <center><button type="button" class="btn btn-outline-success btn-sm" onclick="show_modal_open_close_lot('open')" id="btn_open" style="display: none;"><i class="fa-solid fa-share-from-square"></i> Obrir</button></center>
                        <center><button type="button" class="btn btn-outline-danger btn-sm" onclick="show_modal_open_close_lot('close')" id="btn_close" style="margin-left: 5px; display: none;"><i class="fa-solid fa-lock"></i> Tancar</button></center>
                    </div>    
                </div>
            </div>
          </div>
        </div>
    </div>


    <div class="modal fade modal-custom3"  id="history_lot" tabindex="-1" role="dialog" aria-labelledby="editRegister" aria-hidden="true">
        <div class="modal-dialog modal-lg" tabindex="-1" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title"> Historial</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_modal('history_lot')"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">                                   
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="table-responsive">
                            <table id="table_history_lots" class="table table-sm table-striped table-bordered display nowrap mt-1" style="width:100%;background-color:white;">
                                <thead>
                                    <tr>
                                        <th>data opertura</th>
                                        <th>user</th>
                                        <th>Observacions</th>
                                        <th>data tancament</th>
                                        <th>user</th>
                                        <th>Observacions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>


    <div class="modal fade"  id="modal_modify_reactive" tabindex="-1" role="dialog" aria-labelledby="editRegister" aria-hidden="true">
        <div class="modal-dialog" tabindex="-1" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title"> Modificar reactiu</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_modal('modal_modify_reactive')"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">                                   
                    <div class="col-lg-12 col-md-12 col-sm-12">       
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width: 145px;"><b>Data Caducitat :</b></span>
                            <input type="text" class="form-control" id='date_expiry_modify' name='date_expiry_modify' aria-label="TTN" aria-describedby="basic-addon1" oninput="replae_slash_with_hyphen(this); filter_characters(this)">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">       
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width: 145px;"><b>Lot :</b></span>
                            <input type="text" class="form-control" id='lot_reactive_modify' name='lot_reactive_modify' aria-label="TTN" aria-describedby="basic-addon1">
                        </div>
                    </div>    
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">       
                        <input type="hidden" id="id_lot_modify" value=""/>
                        <input type="hidden" id="log_lot_reactive" value=""/>
                        <input type="hidden" id="log_date_expiry" value=""/>
                        <center><button type="button" class="btn btn-outline-success btn-sm" onclick="edit_reactive()" id="btn_open"><i class="fa-solid fa-pen-to-square"></i> Editar</button></center>
                    </div>    
                </div>
            </div>
          </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#example thead tr').clone(true).appendTo( '#example thead' );
            $('#example thead tr:eq(1) th').each( function (i) {
                var title = $(this).text();
                if (title !== ''){
                    if (title === 'Técnic') {
                        $(this).html('');
                    } else {
                        $(this).html( '<input type="text" placeholder=""/>' );
                
                        $( 'input', this ).on( 'keyup change', function () {
                            if ( table.column(i).search() !== this.value ) {
                                table
                                    .column(i)
                                    .search( this.value )
                                    .draw();
                            }
                        } );
                    }
                }
            } );
        
            var table = $('#example').DataTable( {
                orderCellsTop: true,
                fixedHeader: true,
                columnDefs: [
                    {
                        targets: 0, // Índice de la columna con las fechas
                        type: 'numeric', // Usar orden numérico personalizado
                        render: function(data, type, row) {
                            // Transformar la fecha en formato DD/MM/YYYY a un número YYYYMMDD para ordenar
                            if (type === 'sort') {
                                var parts = data.split('/');
                                return parseInt(parts[2] + parts[1] + parts[0]);
                            }
                            return data; // Mantener el formato original para mostrar
                        },
                    },
                ],
                order: [[0, 'desc']],
            } );

            // Adjust column widths to content
            table.columns.adjust().draw();
        } );

        $(document).ready(function() {
            var table = $('#table_history_lots').DataTable( {
                order: [ 0, 'desc' ],
                columnDefs: [
                    { width: '25%', targets: [0, 1, 2, 3] } // Establece el ancho de todas las columnas al 25%
                ]
            } );
        } );
    </script>

    <script src="/static/js/bootstrap.js"></script>
</body>
</html>