<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'Header/header.html' %}
    <script>
        /**
         * Descarrega un document específic.
         * 
         * Aquesta funció estableix els valors dels camps d'un formulari per descarregar un document
         * específic. Els paràmetres especificats s'utilitzen per establir el nom del document i la
         * ruta del directori on es troba. Posteriorment, s'envia el formulari per iniciar la descàrrega
         * del document.
         * 
         * @param {string} dir_name La ruta del directori on es troba el document a descarregar.
         * @param {string} name_doc El nom del document a descarregar.
         * @param {string} type_doc El tipus de document (extensió de l'arxiu) a descarregar.
         * @returns {void} No retorna cap valor.
         * 
         * @descriptor Aquesta funció facilita la descàrrega de documents específics mitjançant l'ús
         * d'un formulari. Estableix els valors dels camps del formulari i els envia per descarregar el
         * document corresponent.
         */
        function download_doc(dir_name, name_doc, type_doc){
            document.getElementById("name_doc").value = name_doc + type_doc;
            document.getElementById("dir_name").value = dir_name;
            document.getElementById("down_doc").submit();
        }


        /**
         * Obre el modal per pujar documents.
         * 
         * Aquesta funció estableix els valors dels camps d'un formulari per indicar la ruta del
         * directori on es pujaran els documents i el grup d'inserció corresponent. Posteriorment,
         * obre el modal per a la pujada de documents.
         * 
         * @param {string} dir_name La ruta del directori on es pujaran els documents.
         * @param {string} group_insert El grup d'inserció associat als documents a pujar.
         * @returns {void} No retorna cap valor.
         * 
         * @descriptor Aquesta funció facilita l'obertura del modal per pujar documents. Estableix
         * els valors dels camps del formulari corresponent i mostra el modal d'acord amb les dades
         * proporcionades.
         */
        function open_upload_documents(dir_name, group_insert){
            document.getElementById("dir_name_upload").value = dir_name;
            document.getElementById("group_insert").value = group_insert;
            $('#upload_doc').modal('show');
        }


        /**
         * Pujar documents al servidor.
         * 
         * Aquesta funció envia una sol·licitud AJAX al servidor per pujar un document,
         * juntament amb la informació associada, com la ruta del directori on es pujarà
         * el document, el grup d'inserció corresponent i el propi document. Després d'enviar
         * la sol·licitud, s'amaga el modal de pujada de documents i s'executa el maneig de la
         * resposta del servidor.
         * 
         * @returns {void} No retorna cap valor.
         * 
         * @descriptor Aquesta funció executa una operació asíncrona per enviar una sol·licitud
         * al servidor per pujar un document, mostrant alertes d'èxit o error en funció de la
         * resposta rebuda. També actualitza l'aparença dels botons associats al document pujat.
         */
        function upload_documents(){
            // Crear form data
            var form_data = new FormData();

            // Carregar dades al form de l'html
            const dir_name = document.getElementById('dir_name_upload').value
            const group_insert = document.getElementById('group_insert').value
            
            const file_input = document.getElementById('file')
            const file = file_input.files[0];

            form_data.append('dir_name', dir_name)
            form_data.append('group_insert', group_insert)
            form_data.append('file', file)

            $('#upload_doc').modal('hide');

            // Creeem l'objecte per l'ajax
            var xhr = new XMLHttpRequest();
            // 1er argument si es pots o get
            // 2n argument url o ruta
            // 3r argumemt true sempre
            
            xhr.open('POST', '/upload_docs', true);
            xhr.onload = function(){
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    if (response.includes('False')){
                        alert_type = 'danger'
                        if (response === 'False_duplicate'){
                            message = `Error, un o més lots ja estan entrats a la bd, no s'ha inserit cap camp, revisa els duplicats i tornar a inserir-lo.`}
                        else{
                            message = `Error, no s'ha pogut inserir el lot a la bd.`}}
                    else if (response.includes('True')){
                        var split_response = response.split('///')
                        var id_lots = split_response[1].split(';')
                        message = "El document s'ha carregat correctament."
                        alert_type = 'success'
                        // Obtener la referencia al elemento tr por su ID
                        for (var i = 0; i < id_lots.length; i++) {
                            var buttonElement = document.getElementById(`${id_lots[i]}_${dir_name}`);
                            if (buttonElement) {
                                buttonElement.classList.remove("btn-outline-danger");
                                buttonElement.classList.add("btn-outline-success");

                                if (dir_name == 'delivery_note'){
                                    buttonElement.setAttribute("onclick", "download_doc('albarans', `" + split_response[2] + "`, `" + split_response[3] + "`)");
                                } else {
                                    buttonElement.setAttribute("onclick", "download_doc('certificats', `" + split_response[2] + "`, `" + split_response[3] + "`)");
                                }
                            }
                        }
                    } else {
                        message = `Error inesperat. Si persisteix l'error contacta amb un administrador`
                        alert_type = 'danger'
                    }
                }
                else {
                    message = `Error, No s'ha pogut realitzar l'operació. Si persisteix l'error contacta amb un administrador`
                    alert_type = 'danger' }

                var flashContainer = document.querySelector(".d-flex.justify-content-center .row");
                // Eliminar la alerta anterior, si existe
                if (flashContainer.children.length > 0) {
                    flashContainer.removeChild(flashContainer.children[0]); }

                var newFlash = document.createElement("div");
                newFlash.className = "alert alert-" + alert_type + " alert-dismissible fade show ml-3";
                newFlash.role = "alert";
                newFlash.innerHTML = "<span>" + message + "</span>" + 
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>';
                flashContainer.appendChild(newFlash);
                flashContainer.style.paddingTop = "20px";
            }

            xhr.send(form_data)
        }


        /**
         * Descarrega un document de Control de Qualitat (QC).
         * 
         * Aquesta funció inicia la descàrrega d'un document de QC basat en el lot, lot intern i referència del catàleg proporcionats.
         * Envia una sol·licitud POST al servidor per crear el document de QC i gestiona la resposta segons convingui.
         * Si té èxit, actualitza els camps del formulari de descàrrega de documents i activa la presentació del formulari per a la seva descàrrega.
         * Si no té èxit, mostra un missatge d'error apropiat.
         * 
         * @param {string} lot El número de lot.
         * @param {string} internal_lot El número de lot intern.
         * @param {string} catalog_reference La referència del catàleg.
         * @returns {void} No retorna cap valor.
         * 
         * @descriptor Aquesta funció facilita la descàrrega de documents de QC en interactuar amb el servidor a través d'AJAX.
         * Gestiona la creació de dades de formulari, envia sol·licituds al servidor i processa les respostes del servidor.
         * Es proporciona gestió d'errors i comentaris d'usuari per garantir una experiència de descàrrega fluida.
         */
        function download_QC(group_insert, catalog_reference){
            // Crear form data
            var form_data = new FormData();
            
            form_data.append('group_insert', group_insert)
            form_data.append('catalog_reference', catalog_reference)

            // Creeem l'objecte per l'ajax
            var xhr = new XMLHttpRequest();
            // 1er argument si es pots o get
            // 2n argument url o ruta
            // 3r argumemt true sempre
            xhr.open('POST', '/create_qc', true);
            xhr.onload = function(){
                if (xhr.status === 200) {
                    var response = xhr.responseText;

                    var split_response = response.split('_//_')

                    if (split_response[0] === 'True'){
                        message = "S'ha descarregat el document correctament" 
                        document.getElementById("name_doc").value = split_response[1];
                        document.getElementById("dir_name").value = 'qc';
                        document.getElementById("down_doc").submit(); }
                    else if (split_response[0] === 'False'){
                        message = "La cerca del lot ha fallat."
                        alert_type = 'danger'} 
                    else{
                        message = "Error inesperat QC."
                        alert_type = 'danger'}}
                else {
                    message = "Error, No s'ha pogut realitzar l'operació."
                    alert_type = 'danger' }
                
                if (message !== ''){
                    var flashContainer = document.querySelector(".d-flex.justify-content-center .row");
                    // Eliminar la alerta anterior, si existe
                    if (flashContainer.children.length > 0) {
                        flashContainer.removeChild(flashContainer.children[0]); }

                    var newFlash = document.createElement("div");
                    newFlash.className = "alert alert-" + alert_type + " alert-dismissible fade show ml-3";
                    newFlash.role = "alert";
                    newFlash.innerHTML = "<span>" + message + "</span>" + 
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                        '<span aria-hidden="true">&times;</span>' +
                                        '</button>';
                    flashContainer.appendChild(newFlash);
                    flashContainer.style.paddingTop = "20px";}
            }

            xhr.send(form_data)
        }


        function open_delete_documents(group_insert, lot_id){
            document.getElementById('group_insert_delete').value = group_insert;
            document.getElementById('lot_id_delete').value = lot_id;
            document.getElementById('inlineCheckbox1').checked = false;
            document.getElementById('inlineCheckbox2').checked = false;
            open_modal('modal_delete_documents')
        }


        function delete_documents(){
            // Crear form data
            var form_data = new FormData();

            // Carregar dades al form de l'html
            const group_insert_delete = document.getElementById('group_insert_delete').value
            const lot_id_delete = document.getElementById('lot_id_delete').value
            const delivery_note = document.getElementById('inlineCheckbox1').checked
            const certificate = document.getElementById('inlineCheckbox2').checked
            

            form_data.append('group_insert_delete', group_insert_delete)
            form_data.append('delivery_note', delivery_note)
            form_data.append('certificate', certificate)
            
            if (delivery_note == false && certificate == false){
                alert("S'ha de seleccionar com a mínim una de les 2 opcions")
                return
            }

            close_modal('modal_delete_documents')

            // Creeem l'objecte per l'ajax
            var xhr = new XMLHttpRequest();
            // 1er argument si es pots o get
            // 2n argument url o ruta
            // 3r argumemt true sempre
            
            xhr.open('POST', '/delete_documents', true);
            xhr.onload = function(){
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    if (response.includes('False')){
                        alert_type = 'danger'
                        message = response.replace("False_", "");}
                    else if (response.includes('True')){
                        message = "El document/s eliminat/s correctament."
                        alert_type = 'success'
                        // Obtener la referencia al elemento tr por su ID
                        
                        if (delivery_note){
                            var buttonElement = document.getElementById(`${lot_id_delete}_delivery_note`);
                            if (buttonElement) {
                                buttonElement.classList.remove("btn-outline-success");
                                buttonElement.classList.add("btn-outline-danger");
                                buttonElement.setAttribute("onclick", "open_upload_documents('delivery_note', `" + group_insert_delete + "`)");
                            }
                        }

                        if (certificate){
                            var buttonElement = document.getElementById(`${lot_id_delete}_certificate`);
                            if (buttonElement) {
                                buttonElement.classList.remove("btn-outline-success");
                                buttonElement.classList.add("btn-outline-danger");
                                buttonElement.setAttribute("onclick", "open_upload_documents('certificate', `" + group_insert_delete + "`)");
                            }
                        }
                    } else {
                        message = `Error inesperat. Si persisteix l'error contacta amb un administrador`
                        alert_type = 'danger'
                    }
                }
                else {
                    message = `Error, No s'ha pogut realitzar l'operació. Si persisteix l'error contacta amb un administrador`
                    alert_type = 'danger' }

                var flashContainer = document.querySelector(".d-flex.justify-content-center .row");
                // Eliminar la alerta anterior, si existe
                if (flashContainer.children.length > 0) {
                    flashContainer.removeChild(flashContainer.children[0]); }

                var newFlash = document.createElement("div");
                newFlash.className = "alert alert-" + alert_type + " alert-dismissible fade show ml-3";
                newFlash.role = "alert";
                newFlash.innerHTML = "<span>" + message + "</span>" + 
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>';
                flashContainer.appendChild(newFlash);
                flashContainer.style.paddingTop = "20px";
            }

            xhr.send(form_data)
        }


    </script>
    <style>
        #example thead input[type="text"] {
            max-width: 100%; /* Ajusta este valor según tus necesidades */
        }
    </style>
</head>
<body>
    <br>
    {% include 'NavBar/navBar.html' %}
    <div class="jumbotron bg-grey text-black jomboton-imgae shadow d-flex justify-content-between align-items-center" style="width: 90%; height: 80px; margin: 0 auto; padding-top: 0px; padding-bottom: 0px;">
        <h1 class="mb-0">
            <span style="color: darkblue;">( 3 ) </span> - 
            <span>Gestió documental</span>
        </h1>
    </div>
    <br>
    <div class="jumbotron bg-grey text-black jomboton-imgae shadow d-flex justify-content-between align-items-center" style="width: 90%; height: 90px; margin: 0 auto; padding-top: 0px; padding-bottom: 0px;">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6" style="padding-top: 15px;">       
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><b>Codi SAP :</b></span>
                        <input type="text" class="form-control" aria-label="TTN" aria-describedby="basic-addon1" value="{{select_lot[0].code_SAP}}" style="background-color: white; text-align: center;" readonly>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6" style="padding-top: 15px;">       
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><b>Codi LOG :</b></span>
                        <input type="text" class="form-control" aria-label="TTN" aria-describedby="basic-addon1" value="{{select_lot[0].code_LOG}}" style="background-color: white; text-align: center;" readonly>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="padding-top: 15px;">       
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><b>Codi proveïdor :</b></span>
                        <input type="text" class="form-control" aria-label="TTN" aria-describedby="basic-addon1" value="{{select_lot[0].catalog_reference}}" style="background-color: white; text-align: center;" readonly>
                    </div>
                </div>  
                <div class="col-lg-5 col-md-6 col-sm-6" style="padding-top: 15px;">       
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><b>Descripció :</b></span>
                        <input type="text" class="form-control" aria-label="TTN" aria-describedby="basic-addon1" value="{{select_lot[0].description}}" style="background-color: white; text-align: center;" readonly>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    {% include 'ErrorFlash/errorFlash.html' %} 
    
    <div class="d-flex justify-content-center pt-3 mt-3 rounded">
        <div class="container-fluid rounded table-responsive" style="width: 90%; text-align: center; margin-top: -30px;">
            <div id="table1" name="table1">
                <table id="example" class="display">
                    <thead>
                        <tr id="thcolor">
                            {% if select_lot[0].id_reactive != '' %}
                                <th style="min-width: 70px; max-width: 140px;">Subreferència</th>
                                <th>Descripció Subref.</th>
                            {% else %}
                                <th style="min-width: 70px; max-width: 140px;" class="d-none">Subreferència</th>
                                <th class="d-none">Descripció Subref.</th>
                            {% endif %}
                            <th style="min-width: 70px; max-width: 130px;">Lot</th>
                            <th style="min-width: 70px; max-width: 130px;">Lot intern</th>
                            <!-- <th style="min-width: 70px; max-width: 90px;">Unitats</th> -->
                            <th style="min-width: 70px; max-width: 130px;">Data arribada</th>
                            <th style="min-width: 70px; max-width: 130px;">Caducitat</th>
                            <th style="min-width: 50px; max-width: 130px;">QC</th>
                            <th style="max-width: 220px;">Docs.</th>
                            <th>Observacions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lot in select_lot %}
                            <tr id="{{lot.id}}">
                                {% if lot.id_reactive != '' %}
                                    <td>{{lot.id_reactive}}</td>
                                    <td>{{lot.description_subreference}}</td>
                                {% else %}
                                    <td class="d-none">{{lot.id_reactive}}</td>
                                    <td class="d-none">{{lot.description_subreference}}</td>
                                {% endif %}
                                <td>{{lot.lot}}</td>
                                <td>{{lot.internal_lot}}</td>
                                <!-- <td>{{lot.units_lot}}</td> -->
                                <td>{{lot.reception_date}}</td>
                                <td>{{lot.date_expiry}}</td>
                                <td><button type="button" class="btn btn-outline-primary btn-sm" onclick="download_QC(`{{lot.group_insert}}`,`{{lot.catalog_reference}}`)"><i class="fa-solid fa-file-arrow-down"></i></button></td>
                                <td>
                                    <div style=" display: inline;">
                                    {% if lot.delivery_note == '' %}
                                        <button type="button" class="btn btn-outline-danger btn-sm" id='{{lot.id}}_delivery_note' onclick="open_upload_documents('delivery_note', `{{lot.group_insert}}`)"><i class="fa-solid fa-file-arrow-up"></i> Albarà</button>
                                    {% else %}
                                        <button type="button" class="btn btn-outline-success btn-sm" id='{{lot.id}}_delivery_note' onclick="download_doc('albarans', `{{lot.delivery_note}}`, `{{lot.type_doc_delivery}}`)"><i class="fa-solid fa-file-arrow-down"></i> Albarà</button>
                                    {% endif %}

                                    {% if lot.certificate == '' %}
                                        <button type="button" class="btn btn-outline-danger btn-sm" id='{{lot.id}}_certificate' onclick="open_upload_documents(`certificate`, `{{lot.group_insert}}`)"><i class="fa-solid fa-file-arrow-up"></i> Certificat</button>
                                    {% else %}
                                        <button type="button" class="btn btn-outline-success btn-sm" id='{{lot.id}}_certificate' onclick="download_doc('certificats', `{{lot.certificate}}`, `{{lot.type_doc_certificate}}`)"><i class="fa-solid fa-file-arrow-down"></i> Certificat</button>
                                    {% endif %}

                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="open_delete_documents(`{{lot.group_insert}}`, `{{lot.id}}`)"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </td>
                                <td>{{lot.observations_inspection}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form action="/download_docs" id="down_doc" method="post">
                    <input type="hidden" id="name_doc" name="name_doc" value="">
                    <input type="hidden" id="dir_name" name="dir_name" value="">
                </form>
            </div>
            <br>
        </div>
    </div>

    <div class="modal fade"  id="upload_doc" tabindex="-1" role="dialog" aria-labelledby="editRegister" aria-hidden="true">
        <div class="modal-dialog modal-lg" tabindex="-1" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title"> Carregar document</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_modal('upload_doc')"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="/upload_docs" method="post">
                    <div class="row">                                   
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><b>Document :</b></span>
                                <div class="flex-grow-1">
                                    <input type="file" id="file" name="file" class="btn" style="border: 1px solid black; outline: none; width: 100%;">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="dir_name_upload" name="dir_name_upload" value="">
                        <input type="hidden" id="group_insert" name="group_insert" value="">
                        <center><input type="button" value="Carregar" class="btn btn-success btn-sm" onclick="upload_documents()"/></center>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>


    <div class="modal fade"  id="modal_delete_documents" tabindex="-1" role="dialog" aria-labelledby="editRegister" aria-hidden="true">
        <div class="modal-dialog" tabindex="-1" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title">Eliminar documents</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_modal('modal_delete_documents')"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">       
                        <div class="input-group mb-3">
                            <!-- <span class="input-group-text" id="basic-addon1"><b>Ref. proveïdor, SAP o LOG:</b></span> -->
                            <span class="input-group-text" id="basic-addon1"><b>Document a eliminar :</b></span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="form-check form-check-inline" style="padding-top: 9px;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="albara">
                                <label class="form-check-label" for="inlineCheckbox1">Albarà</label>
                            </div>
                            <div class="form-check form-check-inline" style="padding-top: 9px;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="certificat">
                                <label class="form-check-label" for="inlineCheckbox2">Certificat</label>
                            </div>
                        </div>
                    </div>
                    <center><button type="button" class="btn btn-danger btn-sm" onclick="delete_documents()">Eliminar</button></center>
                    <input type="hidden" id="group_insert_delete" value="" />
                    <input type="hidden" id="lot_id_delete" value="" />
                </div>
            </div>
          </div>
        </div>
    </div>


    <script>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#example thead tr').clone(true).appendTo( '#example thead' );
            $('#example thead tr:eq(1) th').each( function (i) {
                var title = $(this).text();
                if (title !== ''){
                    if (title === 'Técnic') {
                        $(this).html('');
                    } else {
                        $(this).html( '<input type="text" placeholder=""/>' );
                
                        $( 'input', this ).on( 'keyup change', function () {
                            if ( table.column(i).search() !== this.value ) {
                                table
                                    .column(i)
                                    .search( this.value )
                                    .draw();
                            }
                        } );
                    }
                }
            } );
        
            var table = $('#example').DataTable( {
                orderCellsTop: true,
                fixedHeader: true,
                columnDefs: [
                    {
                        targets: 0, // Índice de la columna con las fechas
                        type: 'numeric', // Usar orden numérico personalizado
                        render: function(data, type, row) {
                            // Transformar la fecha en formato DD/MM/YYYY a un número YYYYMMDD para ordenar
                            if (type === 'sort') {
                                var parts = data.split('/');
                                return parseInt(parts[2] + parts[1] + parts[0]);
                            }
                            return data; // Mantener el formato original para mostrar
                        },
                    },
                ],
                order: [[0, 'desc']],
            } );

            // Adjust column widths to content
            table.columns.adjust().draw();
        } );
    </script>
    
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>