<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'Header/header.html' %}
    <script>
        function open_modal(id_row, sample, acronim){
            $('#validation_modal').modal('show');
            document.getElementById('id_row').value = id_row
            document.getElementById('sample').value = sample
            document.getElementById('username').value = acronim

            document.getElementById('option_type').value = '0'
            document.getElementById('text_validacio_facultativa').value = ''
            document.getElementById('add_observations_gd').value = ''
            document.getElementById('text_validators').style.display = 'none'
        }

        
        function close_modal(modal_id){
            $(`#${modal_id}`).modal('hide');
        }


        function check_open_modal(){
            var table = document.getElementById('table_reports');
            // Verificar si hay al menos una fila en el cuerpo de la tabla
            var hasRows = table.getElementsByTagName('tbody')[0].hasChildNodes();
            var tbody = table.querySelector('tbody');

            if (tbody && tbody.childElementCount > 0) {
                $('#sample_report').modal('show');
            } else {
                var flashContainer = document.querySelector(".d-flex.justify-content-center .row");
                var newFlash = document.createElement("div");
                newFlash.className = "alert alert-warning alert-dismissible fade show ml-3";
                newFlash.role = "alert";
                newFlash.innerHTML = "<span> No hi ha mostres completades pendents de fer informe</span>" + 
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>';
                flashContainer.appendChild(newFlash);
                flashContainer.style.paddingTop = "20px";
            }

        }


        function validation(){
            // Crear form data
            var form_data = new FormData();
            
            // Carregar dades al form de l'html
            const id_row = document.getElementById('id_row').value
            const observations_gd = document.getElementById('add_observations_gd').value
            const option_type = document.getElementById('option_type').value
            const username = document.getElementById('username').value
            const sample = document.getElementById('sample').value
            const validation_facultative = document.getElementById('text_validacio_facultativa').value

            if (username === ''){
                alert("Has de posar les inicials del facultatiu que valida.")
                return 
            }

            if (option_type === '3'){
                if (validation_facultative === ''){
                    alert("La validació facultativa no pot estar vuida")
                    return }
            }

            form_data.append('id_row', id_row)
            form_data.append('observations_gd', observations_gd)
            form_data.append('option_type', option_type)
            form_data.append('username', username)
            form_data.append('validation_facultative', validation_facultative)

            // Creeem l'objecte per l'ajax
            var xhr = new XMLHttpRequest();
            // 1er argument si es pots o get
            // 2n argument url o ruta
            // 3r argumemt true sempre
            xhr.open('POST', '/validation', true);
            xhr.onload = function(){
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    var response_split = response.split('_')
                    if (response_split[0] === 'False'){
                        if (response_split[1] === 'found2'){
                            message = "Error, No s'ha trobat la mostra solicitada."
                            alert_type = 'danger' }
                        else if (response_split[1] === 'sample2'){
                            message = "Error, El nom de la mostra no és correcta."
                            alert_type = 'danger' }
                        else if (response_split[1] === 'insert'){
                            message = "Error, No s'ha pogut realitzar l'inserció de la mostra."
                            alert_type = 'danger' }
                        else if (response_split[1] === 'sample'){
                            message = "Error, Les dades s'han guardat però no hem pogut comprovar si la mostra tenia més peticions pendents."
                            alert_type = 'danger' }
                        else if (response_split[1] === 'found'){
                            message = "Les dades s'han guardat, aquesta mostra encara té altres peticions per acabar."
                            alert_type = 'warning'
                            
                            var delete_row = document.getElementById(id_row);
                            delete_row.remove();}
                        else if (response_split[1] === 'error'){
                            message = "Error, Les dades s'han guardat però no hem pogut comprovar la informació de la mostra."
                            alert_type = 'danger' } }
                    else if (response_split[0] === 'True') {
                        if (option_type !== '2'){
                            message = "La mostra a set completada, no queden més peticions per fer, es posa a la llista per fer l'informe."
                            alert_type = 'success'
                            var table = document.getElementById('table_reports');
                            var tbody = table.getElementsByTagName('tbody')[0];
                            var newRow = tbody.insertRow();

                            newRow.id = sample;

                            var cell1 = newRow.insertCell(0);
                            cell1.className = "text-center align-middle";
                            cell1.innerHTML = sample;

                            var cell2 = newRow.insertCell(1);
                            cell2.className = "text-center align-middle";
                            cell2.innerHTML = '<button type="button" class="btn btn-link" onclick="report_made(\'' + sample + '\')">eliminar</button>';}
                        else if (option_type === '2'){
                            message = "La mostra a set completada, però s'ha tornat a inserir de nou per tornar-la a analitzar."
                            alert_type = 'success'}
                        // else if (option_type === '3'){
                        //     message = "La mostra no a set validada, s'ha retornat als tècnics perquè ho tornin a validar."
                        //     alert_type = 'success'}
                        var delete_row = document.getElementById(id_row);
                        delete_row.remove();}
                    else {
                        message = "Error, No s'ha rebut resposta del servido"
                        alert_type = 'danger' } }
                else {
                    message = "Error, No s'ha pogut realitzar l'operació, actulitza la pàgina i torna-ho a intentar"
                    alert_type = 'danger' }

                $('#validation_modal').modal('hide');

                var flashContainer = document.querySelector(".d-flex.justify-content-center .row");
                var newFlash = document.createElement("div");
                newFlash.className = "alert alert-" + alert_type + " alert-dismissible fade show ml-3";
                newFlash.role = "alert";
                newFlash.innerHTML = "<span>" + message + "</span>" + 
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>';
                flashContainer.appendChild(newFlash);
                flashContainer.style.paddingTop = "20px";
            }
            xhr.send(form_data)
        }     


        function report_made(sample){
            // Crear form data
            var form_data = new FormData();
            
            form_data.append('sample', sample)

            // Creeem l'objecte per l'ajax
            var xhr = new XMLHttpRequest();
            // 1er argument si es pots o get
            // 2n argument url o ruta
            // 3r argumemt true sempre
            xhr.open('POST', '/report_made', true);
            xhr.onload = function(){
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    if (response === 'False'){
                            message = "Error, No s'ha pogut eliminar la mostra de informes pendents."
                            alert_type = 'danger' }
                    else if (response === 'True') {
                        message = "La mostra ha set eliminada de informes pendents."
                        alert_type = 'success'

                        var delete_row = document.getElementById(sample);
                            delete_row.remove();}
                    else {
                        message = "Error, No s'ha rebut resposta del servido"
                        alert_type = 'danger' }}
                else {
                    message = "Error, No s'ha pogut realitzar l'operació, actulitza la pàgina i torna-ho a intentar"
                    alert_type = 'danger' }

                $('#sample_report').modal('hide');

                var flashContainer = document.querySelector(".d-flex.justify-content-center .row");
                var newFlash = document.createElement("div");
                newFlash.className = "alert alert-" + alert_type + " alert-dismissible fade show ml-3";
                newFlash.role = "alert";
                newFlash.innerHTML = "<span>" + message + "</span>" + 
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>';
                flashContainer.appendChild(newFlash);
                flashContainer.style.paddingTop = "20px";
            }
            xhr.send(form_data)
        }     

        
        function open_text(value){
            if(value === '3'){
                document.getElementById('text_validators').style.display = 'block'}
            else{
                document.getElementById('text_validators').style.display = 'none'}
        }

    </script>
    <style>
        #example thead input[type="text"] {
            max-width: 100%; /* Ajusta este valor según tus necesidades */
        }
    </style>    
</head>
<body id="limits2senseTaula">
    {% include 'NavBar/navBar.html' %}
    {% include 'ErrorFlash/errorFlash.html' %} 
    <div class="jumbotron bg-grey text-black jomboton-imgae shadow d-flex justify-content-between align-items-center" style="width: 90%; height: 90px; margin: 0 auto; padding-top: 0px; padding-bottom: 0px;">
        <!-- <h1 class="mb-0" style="color: rgb(70, 70, 70);">({{select_type}}) - Validació facultativa</h1> -->
        <h1 class="mb-0">
            <span style="color: darkblue;">( {{select_type}} ) </span> - 
            <span>Validació facultativa</span>
        </h1>
        <div class="d-flex align-items-center">
            <button type="button" onclick="check_open_modal()"  class="btn btn-link">Informes pendents <i class="fa-solid fa-file-circle-check"></i></button>
        </div>
    </div>

    <div class="d-flex justify-content-center pt-3 mt-3 rounded">
        <div class="container-fluid rounded table-responsive" style="width: 90%; text-align: center;">
            <div id="table1" name="table1">
                <table id="example" class="display">
                    <thead>
                        <tr id="thcolor">
                            <th></th>
                            <th style="min-width: 70px;  max-width: 120px;">Panell</th>
                            <th style="min-width: 70px;  max-width: 120px;">Mostra</th>
                            <th style="min-width: 70px;  max-width: 120px;">Gen</th>
                            <th style="min-width: 70px;  max-width: 120px;">Isoforma</th>
                            <th>Nucleotid</th>
                            <th>Seqüencia</th>
                            <th style="min-width: 70px;  max-width: 120px;">Confirmació</th>
                            <th style="min-width: 70px;  max-width: 120px;">Técnic</th>
                            <th>obs. lab</th>
                            <th style="min-width: 70px;  max-width: 120px;">N. pcr</th>
                            <th style="min-width: 70px;  max-width: 120px;">N. db</th>
                            <th style="display: none;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in select_row %}
                            <tr id="{{row.id}}">
                                <td>
                                    <input type="button" class="btn btn-link btn-sm" value="Validar" onclick="open_modal(`{{row.id}}`,`{{row.mostra}}`, `{{session['acronim']}}`)">
                                </td>
                                <!-- <td><input type="button" class="btn btn-link btn-sm" value="Afegeix resultats" onclick="open_modal(`{{row.id}}`, `{{row.num_pcr}}`, `{{row.observacions_laboratori}}`, `{{row.nucleotid}}`)"></td> -->
                                <td>{{row.panell_mlpa_qpcr}}</td>
                                <td>{{row.mostra}}</td>
                                <td>{{row.gen}}</td>
                                <td>{{row.isoforma}}</td>
                                <td>{{row.nucleotid}}</td>
                                <td>{{row.sequencia}}</td>
                                <td>{{row.confirmacio}}</td>
                                <td>{{row.tecnic}}</td>
                                <td>{{row.observacions_laboratori}}</td>
                                <td>{{row.num_pcr}}</td>
                                <td>{{row.num_db}}</td>
                                <td style="display: none;">{{row.data_limit}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </div>
    </div>

    <div class="modal fade"  id="validation_modal" tabindex="-1" role="dialog" aria-labelledby="editRegister" aria-hidden="true">
        <div class="modal-dialog modal-lg" tabindex="-1" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title">Validació resultats</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_modal('validation_modal')"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">       
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width: 170px;"><b>Selecciona Opció :</b></span>
                            <select class="form-select" id="option_type" name="option_type" onchange="open_text(this.value)">
                                <option value="0" selected>---</option>
                                <option value="1">Validar</option>
                                <option value="2">Validar i Repetir</option>
                                <option value="3">Valida amb canvis</option>
                            </select>
                        </div>
                    </div>       
                    <div class="col-lg-6 col-md-12 col-sm-12">       
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><b>Inicials Validador :</b></span>
                            <input type="text" class="form-control" id="username" name="username" aria-label="TTN" aria-describedby="basic-addon1" style="text-align: center;" oninput="this.value = this.value.toUpperCase()">
                        </div>
                    </div>  
                    <div class="col-lg-12 col-md-12 col-sm-12" id="text_validators" style="display: none;">       
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width: 170px;"><b>Validació facultativa:</b></span>
                            <input type="text" class="form-control" id='text_validacio_facultativa' aria-label="TTN" aria-describedby="basic-addon1">
                        </div>
                    </div> 
                    <div class="col-lg-12 col-md-12 col-sm-12">       
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width: 170px;"><b>Obs. Gestor dades :</b></span>
                            <textarea class="form-control" id='add_observations_gd' aria-label="TTN" aria-describedby="basic-addon1" rows="1"></textarea>
                        </div>
                    </div> 
                    <center><button type="button" class="btn btn-success btn-sm" onclick="validation()">Validació facultativa</button></center>
                </div>
                <input type="hidden" value="" id="id_row" name="id_row">
                <input type="hidden" value="" id="sample" name="sample">
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade"  id="sample_report" tabindex="-1" role="dialog" aria-labelledby="editRegister" aria-hidden="true">
        <div class="modal-dialog modal-xs" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title">Mostres pendents de fer informe</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_modal('sample_report')"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">       
                        <div class="input-group mb-3">
                            <table class="table" id="table_reports">
                                <thead>
                                  <tr style="background-color: rgb(107, 166, 194);">
                                    <th scope="col" class="text-center">Mostra</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for sample_rep in sample_report %}
                                        <tr id="{{sample_rep.mostra}}">
                                            <td class="text-center align-middle">{{sample_rep.mostra}}</td>
                                            <td class="text-center align-middle"><button type="button" class="btn btn-link" onclick="report_made(`{{sample_rep.mostra}}`)">eliminar</button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                        
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#example thead tr').clone(true).appendTo( '#example thead' );
            $('#example thead tr:eq(1) th').each( function (i) {
                var title = $(this).text();
                if (title !== ''){
                    $(this).html( '<input type="text" placeholder=""/>' );
            
                    $( 'input', this ).on( 'keyup change', function () {
                        if ( table.column(i).search() !== this.value ) {
                            table
                                .column(i)
                                .search( this.value )
                                .draw();
                    }
                } );
                }
            } );
        
            var table = $('#example').DataTable( {
                orderCellsTop: true,
                fixedHeader: true,
                columnDefs: [
                    {
                        targets: 11, // Índice de la columna con las fechas
                        type: 'numeric', // Usar orden numérico personalizado
                        render: function(data, type, row) {
                            // Transformar la fecha en formato DD/MM/YYYY a un número YYYYMMDD para ordenar
                            if (type === 'sort') {
                                var parts = data.split('/');
                                return parseInt(parts[2] + parts[1] + parts[0]);
                            }
                            return data; // Mantener el formato original para mostrar
                        },
                    },
                ],
                order: [[11, 'asc']],
            } );
        } );
    </script>
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>

